.icon {
    @apply bg-current inline-block;
}

.icon-user {
    mask: url('/svg/icons/user.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
    color: black;
}

.icon-bag-shopping {
    mask: url('/svg/icons/bag-shopping.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
    color: black;
}

.icon-arrow {
    mask: url('/svg/icons/arrow.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
    color: black;
}

.icon-bolt {
    mask: url('/svg/icons/bolt-lightning-solid.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

.icon-facebook {
    mask: url('/svg/icons/facebook-brands-solid.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

.icon-twitter {
    mask: url('/svg/icons/x-twitter-brands-solid.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

.icon-instagram {
    mask: url('/svg/icons/instagram-brands-solid.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

.icon-youtube {
    mask: url('/svg/icons/youtube-brands-solid.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

.icon-bucket {
    mask: url('/svg/icons/basket-shopping-solid.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

.icon-credit-card {
    mask: url('/svg/icons/credit-card-solid.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
}
